* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgb(255, 195, 139);
    color: black;
}

h1 {
    color:black;
    font-size: 30px;
}

.thumbnail {
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    margin-left: auto;

    height: auto;
    width: 300px;
    margin-right: auto;
    padding: 10px;
}

.thumbnail .container a img{
    width: 300px;
}

.thumbnail .container:hover {
    opacity: 0.7;
}

#thumbnailText{
    color: black;
    position: absolute;
    background-color:lightgrey;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

#thumbnailText:visited {
    color:inherit;
}